version: 2.1
jobs:
  deploy:
    docker:
      - image: google/cloud-sdk@sha256:1e443c0a2c8cc28064b6e5ff846d8f49b601157e6595448d468e6d9325ee802e
    steps:
      - checkout
      - run: |
          echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
          gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
          gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
          cd go.opentelemetry.io
          chmod 755 deploy.sh
          ./deploy.sh

workflows:
  deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - main
